*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
nav ul li a:hover{
    color: #ff5ea2
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 p{
    margin: 30px 0;
    font-size: 20px;
}
.col-2{
    background-image: url(../images/Circle\ design.svg);
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}
#btn{
    float: right;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links img{
    height: 13px;
    margin: 20px;
    cursor: pointer;
}
.social-links{
    text-align: center;
}
.products{
    text-align: center;
}
.rating{
    display: flex;
}
.checked{
    color: orange;
}
.rating .point{
    padding-left: 10px;
    color: black;
}
.products-card{
    padding: 3em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-wrap: wrap;
    margin: 15px;
}
.products .card{
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: left;
    overflow: hidden;
}
.container2{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-4{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-4 p{
    margin: 30px 0;
    font-size: 20px;
}
.card .title{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
.card img{
    max-width: 100%;
    border-radius: 5px;
}
.card .text{
    text-align: left;
    margin-bottom: 0.5em;
}
.middle-last .container{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
footer{
    margin-top: 20px;
    padding-top: 20px;
    border: 2px solid rgb(20, 20, 61);
    background-color: rgb(20, 20, 61);
    color: white;
    text-align: center;
}
@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(to right, #fb5283, #ff3527);
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .camera{
        width: 77%;
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-3{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-3 .gear{
        width: 77%;
    }
    .col-4{
        flex-basis: 100%;
    }
}
